*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====  Containers  ==== */


/* End Containers*/


/* ====  Navigation  ====  */


/* End Navigation*/


/* ====  buttons  ====  */


/*End buttons*/


/* ====  Typo  ==== */


/*End Typo*/